* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.App{
  width: 100vw;
  height: 100vh;
  background-color: #222222;
}
.App-header {
  background-color: #35a5da;
  height: 75px;
}

.App-header h1{
  font-size: 14px;
  padding-top: 27px;
  padding-left: 30px;
}


